@font-face {
  font-family: eleFont;
  src: url(assets/BebasNeue-Regular.ttf);
}

$soft_blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan_hover: hsla(178, 100%, 50%, 0.61);
$very_dark_blue_bg: hsl(217, 54%, 11%); //(main BG)
$very_dark_blue_bg2: hsl(216, 42%, 20%); //(main BG)
$very_dark_blue_cbg: hsl(216, 50%, 16%); // (card BG)
$very_dark_blue_line: hsl(215, 32%, 27%); // (line)
$white: hsl(0, 0%, 100%);

body{
  background-color: $very_dark_blue_bg2;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}


#contener{  
  height: 90vh;
  padding: 30px;
  font-family: eleFont;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 800px;
}

.msg_box{
  position: relative;
  padding: 15px 30px;
  width: 400px;
  background-color: $very_dark_blue_bg;
  margin-bottom: 45px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: $very_dark_blue_line 1px solid;
  border-right: $very_dark_blue_line 1px solid;
  z-index: 1;
  animation: msg_enter .3s linear forwards;
}

.name_box{
  position: absolute;
  content: '';
  background-color: $cyan_hover;
  width: fit-content;
  padding: 5px 10px;
  top: -30px;
  left: 0;
  border-top-right-radius: 15px;
  z-index: 22;
  
}

@keyframes msg_enter {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

